@font-face {
  font-family: 'CNNSans';
    src: url('../fonts/CNNSansDisplay-Light.ttf');
}
body {
	font-family: "CNNSans", "Helvetica", "sans-serif";
	font-size:40px;
	font-weight:bold;
	height:100vw;
	background-color:green;
	color:white;
	overflow:hidden;
	cursor:none;
}
.captions {
	position:absolute;
	width:100%;
	background-color:#101010;
	left:0;
	bottom:0;
	padding:0 200px;
	height:85px;
	overflow:hidden;
}
.captions div{
	position:absolute;
	transition: transform 0.1s;
}
